[submodule "modules/ardupilot"]
	path = modules/ardupilot
	url = git@github.com:VUISIS/ardupilot.git
[submodule "modules/MAVSDK"]
	path = modules/MAVSDK
	url = https://github.com/VUISIS/MAVSDK.git
[submodule "modules/mavlink"]
	path = modules/mavlink
	url = git@github.com:mavlink/mavlink.git
